* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #212121;
}

code {
    font-family: 'Roboto Mono', monospace;
    background: #404040;
    color: #fff;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-block: 20px;
    margin-inline: 5px;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border-radius: 8px;
    background: #404040;
    position: relative;
    width: fit-content;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 2px 2px #1a1a1a;
}

h1 {
    margin-block: 60px;
    margin-inline: 10px;
    font-size: 40pt;
}

h2 {
    margin-inline: 40px;
    margin-block: 50px;
    font-size: 24pt;
}

h3 {
    margin-inline: 20px;
    margin-block: 40px;
    font-size: 16pt;
}

h4 {
    margin: 20px;
    font-size: 20pt;
}

h5 {
    margin: 5px;
}

p,
caption,
th,
tr,
li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-inline: 20px;
    margin-bottom: 5px;
}

a {
    color: #638ac7;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    text-decoration: none;
}

a:hover {
    color: #214c91;
}

.top {
    background: #151515;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
}

li {
    margin-bottom: 4px;
    color: #fff;
}

.row {
    margin-left: -5px;
    margin-right: 50px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.api-object-table {
    float: left;
    width: 35%;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #1a1a1a;
}

thead,
tbody,
table {
    margin-inline: 25px;
    margin-block: 5px;
    border: 2px double rgb(66, 66, 66);
    border-spacing: 0px;
    width: 90%;
}

hr {
    margin: 0px;
}